html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

nav {
  background-color: rgb(37, 37, 70);
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

#cow_icon {
  color: orange;
}

h2 {
  margin: 10px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 180px;
}

ul {
  display: flex;
}

li {
  padding: 10px;
  list-style: none;
}

.icon {
  display: flex;
  align-items: center;
}

i {
  padding: 5px;
  margin-right: 15px;
}